<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreBlueToothDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>448EE3A01BE3677D00941E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>448EE3B71BE3677D00941E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>448EE3C21BE3677D00941E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
